@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --font: "Montserrat", sans-serif;

  --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-color: var(--very-light-grayish-blue);
}

.app-container {
  min-height: 100vh;
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 7rem;
}

.btn {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .app-container {
    width: 100%;
    padding: 3rem 5rem;
  }
}
